.background {
    -fx-background-image: url('images/entrepot_fond.jpg');
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
}

.labLogo {
    -fx-background-color: white;
    -fx-background-radius : 30px;
    -fx-border-color: black;
    -fx-border-width: 5;
    -fx-border-radius: 25;
}

.txtArea {
    -fx-background-radius: 10;
    -fx-border-width: 3.5px;
    -fx-border-color: grey;
    -fx-border-radius: 5px;
}

.txtArea:hover {
    -fx-border-color: black;
}

.txtArea:focused {
    -fx-border-color: #30afb8;
}

.undefined-txtArea {
    -fx-background-radius: 10;
    -fx-border-width: 3.5px;
    -fx-border-color: rgba(252, 0, 0, 0.669);
    -fx-border-radius: 5px;
    -fx-focus-color: rgba(252, 0, 0, 0.669);
}

.button {
    -fx-background-radius: 10;
    -fx-background-color: grey;
}

.button:pressed {
    -fx-background-color: white;
}

.checkHistoryButton {
    -fx-background-radius: 15;
    -fx-background-color: rgb(187, 128, 19);
}

.checkWharehouseButton {
    -fx-background-radius: 15;
    -fx-background-color: rgb(19, 187, 19);
}

.settingsButton {
    -fx-background-radius: 15;
    -fx-background-color: #30afb8;
}

.leaveButton {
    -fx-background-radius: 15;
    -fx-background-color: rgb(216, 73, 73);
    -fx-opacity: 1.0; /* Opacité totale (non transparente) */

}

.mainButtonOnHover:hover {
    -fx-border-color: black;
    -fx-border-radius: 10px;
    -fx-border-width: 4.5px;
}

.mainButtonOnClick:pressed {
    -fx-background-color: white;
    -fx-border-color: black;
    -fx-border-radius: 10px;
    -fx-border-width: 4.5px;
}

.SecondaryButtonOnHover:hover {
    -fx-border-color: black;
    -fx-border-radius: 10px;
    -fx-border-width: 3px;
}

.SecondaryButtonOnClick:pressed {
    -fx-background-color: white;
    -fx-border-color: black;
    -fx-border-radius: 10px;
    -fx-border-width: 3px;
}

.list-cell:hover {
    -fx-background-color: grey;
    -fx-text-fill: white;
}

.list-cell:selected {
    -fx-background-color: grey;
    -fx-text-fill: white;
}

.list-cell {
    -fx-font-size: 18px;
    -fx-alignment: center;
    -fx-border-width: 0 0 6 0;
    -fx-border-color: grey;
    -fx-font-weight: bold;
}